@model QL_HieuSuat.Models.Phancongcongviec

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa mục này không?</h3>
<div>
    <h4>Phancongcongviec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loaidoituong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loaidoituong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaygiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaygiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaybatdaudukien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaybatdaudukien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayketthucdukien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayketthucdukien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaybatdauthucte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaybatdauthucte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayketthucthucte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayketthucthucte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacongviecNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacongviecNavigation.Macongviec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManhanvienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManhanvienNavigation.Manhanvien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManhomNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManhomNavigation.Manhom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaphongbanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaphongbanNavigation.Maphongban)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Maphancong" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
