@model QL_HieuSuat.Models.Congviec

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa mục này không?</h3>
<div>
    <h4>Congviec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tencongviec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tencongviec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hanhoanthanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hanhoanthanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Douutien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Douutien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dokho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dokho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diemcongviec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diemcongviec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongcongvieccon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongcongvieccon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Macongvieccha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Macongvieccha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConMacongviecNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConMacongviecNavigation.Macongviec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaduanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaduanNavigation.Maduan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatrangthaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatrangthaiNavigation.Matrangthai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Macongviec" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
